body{
    font-family: "Tahoma", sans-serif;
    font-size: 16px;
    background: url("../images/background_1.jpg") no-repeat fixed;
    background-size: 100%;
}
.header{
    display: block;
	border: 1px solid black;
    opacity: 0.9;
    background: lightskyblue;
    box-sizing: border-box;
    height: 100px;
	width: auto;
	margin: 0px;
	padding: 5px;
}
.header .header-logo{
	display: block;
    box-sizing: border-box;
    float: left;
    height: 100%;
    width: auto;
    margin: 0px 5px 0px 0px;
	padding: 0px;
    box-shadow: 0 0 0 2px darkgray;
}
.header .header-name{
	display: block;
    box-sizing: border-box;
    overflow: auto;
    font-size: 250%;
    line-height: 88px;
    margin: 0px;
    padding: 0px;
    vertical-align: middle;
    text-align: center;
}



.content {
    display: inline-block;
    box-sizing: border-box;
    float: left;
    width: 80%;
    height: 100%;
    border: 1px solid black;
}
.content .user{
    margin: 20px;
    border: 2px solid dimgray;
    border-radius: 8px;
}
.content .user-head{
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    font-size: 150%;
    background: seashell;
    opacity: 0.9;
}
.content .user-head .user-head-name{
    flex-grow: 1; /* занимать всё пространство*/
    padding: 0px 10px;
    margin: 5px 5px;
}
.content .user-head .user-head-edit{
    display: flex;
    flex-shrink: 0; /* не даём блоку сужаться */
    width: 78px;
}



.content .pets{
    display: flex;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    align-items: stretch;
    background: lightgrey;
    opacity: 0.8;
}
.content .pet-menu{
    width: 25%;
    box-sizing: border-box;
    flex-shrink: 0; /* не даём блоку сужаться */
    border-right: 1px solid black;
    padding: 10px;
}



.content .pet-content{
    flex-grow: 1; /* занимать всё пространство*/
    display: table;
    box-sizing: border-box;
    /*border: 1px solid black;*/
    padding: 10px;
}
.content .pet-content .pet-content-row{
    display: table-row;
    border: 1px solid black;
}
.content .pet-content .pet-content-row:first-child{
    font-weight: bold;
    background-color: gray;
}
.content .pet-content .pet-content-row div{
    display: table-cell;
    border: 1px solid black;
    text-align: center;
    vertical-align: middle;
    /*height: 20px;*/
}
.content .pet-content .pet-content-row div:nth-child(n+2){
    width: 15%;
}
.content .pet-content .pet-content-row .control-buttons{
    opacity: 1.0;
    padding: 2px 0px 0px 0px;
    width: 78px;
}



.menu {
    display: inline-block;
    box-sizing: border-box;
    width: 20%;
    height: 100%;
    border: 1px solid black;
    padding: 20px;
    margin: 0px;
}






.control-buttons{
    margin: 5px 0px;
    opacity: 1;
}
.control-buttons > a{
    display: inline-block;
}
.control-buttons > a:first-child{
    margin-left: 10px;
    margin-right: 10px;
}
.control-buttons > a:last-child{
    margin-right: 10px;
}


.button{
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 5px;
    text-align: center;
    border: 1px solid black;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    background-color: gray;
    color: ghostwhite;
}
.button > img{
    margin-right: 10px;
}

.icon{
    max-width: 18px;
    max-height: 18px;
    width: 100%;
    height: auto;
    padding: 2px;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.2);
    border: 1px solid black;
    border-radius: 5px;
}