.block0 {
	border: 1px solid black;
	padding: 5px;
	margin: 0px;
}
.block1 {
	border-collapse: collapse;
	border: 1px solid black;
	padding: 5px;
	margin: 0px;
}
.header>h1{
    font-size: 200%;
    vertical-align: center;
    border: 1px solid black;
    background: aquamarine;
}