body{
    font-family: "Tahoma", sans-serif;
    font-size: 16px;
    background: url("../images/background_1.jpg") no-repeat fixed;
    background-size: 100%;
}
.block1 {
	border-collapse: collapse;
	border: 1px solid black;
	padding: 5px;
	margin: 0px;
}
.header{
    display: block;
	border: 1px solid black;
	background: lightskyblue;
    box-sizing: border-box;
    height: 100px;
	width: auto;
	margin: 0px;
	padding: 5px;
}
.header .header-logo{
	display: block;
    box-sizing: border-box;
    float: left;
    height: 100%;
    width: auto;
    margin: 0px 5px 0px 0px;
	padding: 0px;
    box-shadow: 0 0 0 2px darkgray;
}
.header .header-name{
	display: block;
    box-sizing: border-box;
    overflow: auto;
    font-size: 250%;
    line-height: 88px;
    margin: 0px;
    padding: 0px;
    vertical-align: middle;
    text-align: center;
}





.content {
    display: inline-block;
    box-sizing: border-box;
    float: left;
    width: 80%;
    height: 100%;
    border: 1px solid black;
    padding: 20px;
    margin: 0px;
}
.content .user-head{
    display: flex;
    border: 1px solid black;
    font-size: 150%;
    background:#eee;
}
.content .user-head>.user-head-name{
    flex-grow: 1; /* занимать всё пространство*/
    padding: 0px 10px;
    margin: 5px 5px;
    background: inherit;
}
.content .user-head>.user-head-edit{
    display: flex;
    flex-shrink: 0; /* не даём блоку сужаться */
    width: 78px;
    padding: 0px;
    margin: 5px 5px 5px 0px;
    background: inherit;
}

.user-head-edit>a{
    display: inline-block;
    margin: auto;
    vertical-align: middle;
}
.user-head-edit>a:first-child{
    margin-left: 10px;
    margin-right: 10px;
}
.user-head-edit>a:last-child{
    margin-right: 10px;
}
.user-head-edit>a>img{
    max-width: 18px;
    max-height: 18px;
    width: 100%;
    height: 100%;
    padding: 2px;

    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.2);
    border: 1px solid black;
    border-radius: 5px;
}








.content .pet-menu{
    display: block;
    float: left;
    width: 20%;
    border: 1px solid black;
}


.content .pet-head{
    display: block;
    border: 1px solid black;
}





.menu {
    display: inline-block;
    box-sizing: border-box;
    width: 20%;
    height: 100%;
    border: 1px solid black;
    padding: 20px;
    margin: 0px;
}